*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 100%;
    max-width: 390px;
    min-height: 100vh;
    background: #f3ebdf;
    padding: 11px;

    animation: fadeIn 0.6s ease forwards;
}

.top-row{
    display: flex;
    align-items: flex-end;
}

.bi, .bi-arrow-left-short {
    font-size: 44px;
    color:#6a1314;
}

.header{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 45px;
    color: #6a1314;
    font-weight: 600;
}
.content{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #a40000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 400px;
    margin-left: -30px;
}

ul{
    list-style-type: none;
    text-align: justify
}

li{
    margin-bottom: 10px;
}

.remarks{
    margin-top: 20px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    font-style: italic;
    color: #a40000;
}

@keyframes fadeIn {
        
    from{
        opacity: 0;
        transform: scale(0.98);
    }

    to{
        opacity: 1;
        transform: scale(1)
    }

}