@import url('https://fonts.cdnfonts.com/css/gagalin');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3ebdf;
}

.main-container{
    width: 100%;
    max-width: 390px;
    min-height: 100vh;
    background: white;
}

.sub-container{
    position: relative;
    display: flex;
    height: 100dvh;
    overflow: hidden;

    transition:
        transform 0.8s cubic-bezier(0.22, 1.28, 0.36, 1),
        opacity 0.4s ease;
}

.left-pane,.right-pane{
    width: 50%;
    height: 100%;
    background-color: #6a1314;

    transition: transform 0.9s cubic-bezier(.22,1.28,.36,1);
}

.left-pane{
    border-right: 4px solid #f3ebdf;
}

.right-pane{
    border-left: 4px solid #f3ebdf;
}

.Opening {
    font-family: 'Gagalin', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90px;
    height: 90px;
    border-radius: 50%;

    background: #a40000;
    color: #f3ebdf;
    font-weight: bold;
    border: 6px solid #f3ebdf;

    z-index: 10;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}


.Opening:active {
    transform: translate(-50%, -50%) scale(0.95);
}

.opened .left-pane{
    transform: translateX(-100%);
}

.opened .right-pane{
    transform: translateX(100%);
}

.opened .Opening{
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
    pointer-events: none;
}

.zoomed {
    transform: scale(1.2);
    opacity: 0;
}