*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 100%;
    max-width: 390px;
    min-height: 100vh;
    background: #f3ebdf;
    padding: 12px;
}

.top-row{
    display: flex;
    align-items: flex-end;
}

.bi, .bi-arrow-left-short {
    font-size: 44px;
    color:#6a1314;
}

.header{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 95px;
    color: #6a1314;
    font-weight: 600;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.content-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
}


.maroon{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: #6a1314;
}

.red{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: #a40000;
}

.white{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: #ffffff;
}

.text{
    font-size: 10px;
    color: #a40000;
    height: 60px;
    width: 75px;
    border-radius: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.sub-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #6a1314;
    font-weight: 600;
}

.guide{
    padding: 4px;
    margin-top: 60px;
}

.row1, .row2, .row3{
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    color: #a40000;
    font-weight: 300;
    margin-bottom: 20px;
}